{% extends "base.html" %}
{% block content %}



<body style="background-image:url({{ url_for('static', filename='images/message-in-a-bottle-1.jpg') }}); text-align:center;">
    <div style="color:white">
        <i class="fas fa-feather-alt fa-2x"></i><br><br>
	<h1 style="font-family: 'Satisfy', cursive;">
          Mordor. The one place in Middle-Earth we don’t want to see any closer.<br>
          And it’s the one place we’re trying to get to. It’s just where we can’t get.<br>
          Let’s face it, Mr. Frodo, we’re lost. </h1><br>
        <i class="fas fa-arrows-alt-v fa-2x"></i><br><br>
        <h1 style="font-family: 'Satisfy', cursive;">
	-weird-<br>
	Moodrr. The one palce in Mdilde-Eatrh we don’t wnat to see any csleor.<br> 
        And it’s the one palce we’re tinryg to get to. It’s jsut wrehe we can’t get.<br> 
        Let’s fcae it, Mr. Fodro, we’re lsot.<br>
	-weird-<br>
	closer Earth face Frodo just lost Middle Mordor place place trying want where
        long looong sentence some test This with words</h1>
    </div>
</body>

{% endblock %}
